@import "tailwindcss";

body {
        font-family: 'Inter', sans-serif;
        background-color: #f8fafc;
        -webkit-tap-highlight-color: transparent;
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
