HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Application specific ###
*.log
application-local.ymlAlexAutoDemoQuery
AlexAutoDemoQuery
AlexAutoDBQuery1
AlexAutoDBQuery2
AlexAutoDBQuery3
.gitignore
uploads/80e01015-5356-4664-9cbd-26755b383d7e.png
.gitignore
.gitignore
uploads/56567fc6-81ed-43a2-8714-da0e37819c5b.png
